*.a
*.d
*.o

*.exe
*.dll
*.dylib
*.so
*.zip

.DS_Store

bin-w32/{{plugin_cname}}-vst.*
bin-w32/{{plugin_cname}}.clap
bin-w32/{{plugin_cname}}.exe
bin-w32/{{plugin_cname}}.lv2
bin-w32/{{plugin_cname}}.vst3
bin-w64/{{plugin_cname}}-vst.*
bin-w64/{{plugin_cname}}.clap
bin-w64/{{plugin_cname}}.exe
bin-w64/{{plugin_cname}}.lv2
bin-w64/{{plugin_cname}}.vst3
bin/{{plugin_cname}}
bin/{{plugin_cname}}-dssi.*
bin/{{plugin_cname}}-ladspa.*
bin/{{plugin_cname}}-vst.*
bin/{{plugin_cname}}.clap
bin/{{plugin_cname}}.lv2/
bin/{{plugin_cname}}.vst3
build/
dist/
