declare name "{{plugin_name}}";
declare description "{{plugin_description}}";
declare author "{{author_name}}";
declare license "{{project_license}}";

import("stdfaust.lib");

gain = hslider("[0] Gain [symbol: gain] [abbrev: gain] [unit: dB] [tooltip: Gain applied to output (-90.0..30.0 dB)]", -6.0, -90.0, 30.0, 0.1) : si.smoo;

process = _ * ba.db2linear(gain);
